<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="/js/register.js" defer></script>
        <link rel="stylesheet" href="/css/style.css" />
      </head>
      <body>
        <div class="login-page">
          <div class="form">
            <form class="register-form">
              <input id="id" type="text" placeholder="id" />
              <input id="pw" type="password" placeholder="password" />
              <input
                id="confirm-pw"
                type="password"
                placeholder="confirm password"
              />
              <input id="user-name" type="text" placeholder="name" />
              <button>create</button>
              <p class="message">
                Already registered? <a href="/login">Sign In</a>
              </p>
            </form>
          </div>
        </div>
      </body>
    </html>
  </body>
</html>
